<div class="w-screen h-screen flex items-center justify-center bg-gray-400 px-5 bg-cover bg-center relative"
  style="background-image: url(../../../assets/images/bg-login1.jpg);">
  <div class="bg-white rounded-xl md:max-w-3xl w-full max-w-md max-h-screen z-10 overflow-scroll">
    <div class=" grid md:grid-cols-2 gap-5">
      <div class=" p-5 md:pr-0">
        <router-outlet></router-outlet>
      </div>
      <div class="bg-cover bg-center min-h-[458px] md:block hidden"
        style="background-image: url(../../../assets/images/bg-form-login.jpeg);"></div>
    </div>
  </div>
  <div class="
  absolute
  w-full
  h-full
  left-0
  top-0
  bg-black/50
  "></div>
</div>
