<div class="flex min-h-screen w-full bg-[#f8f9fa]">
  <app-menu-admin />
  <div class="flex-grow px-4 flex flex-col">
    <nav class="flex items-center justify-between py-2">
      <h6 class="font-bold capitalize text-slate-800">Ciseco. admin</h6>
      <div class="flex items-center sm:flex-row flex-col-reverse">
        <app-search />
        <app-user />
      </div>
    </nav>
    <div class="flex-grow relative flex flex-col min-w-0 mb-6 bg-white shadow-sm rounded-2xl">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
);
