<div>
  <div class="mt-28">
    <div class="lg:pt-10">
      <div
        class="container mx-auto relative flex flex-col lg:flex-row lg:justify-end bg-yellow-50 rounded-2xl sm:rounded-[40px] p-4 pb-0 sm:p-5 sm:pb-0 lg:p-24">
        <div>
          <img alt="" class="absolute top-0 left-0 w-full h-full object-contain"
            src="../../../assets/images/bg-banner.svg" />
        </div>
        <div class="lg:w-[45%] max-w-lg relative">
          <a class="ttnc-logo inline-block text-slate-600 w-28" href="/">
            <img alt="" class="h-8 sm:h-10 w-auto text-transparent" src="../../../assets/images/logo140.svg" />
          </a>
          <h2
            class="font-semibold text-3xl sm:text-4xl xl:text-5xl 2xl:text-6xl mt-6 sm:mt-10 !leading-[1.13] tracking-tight">
            Sản phẩm <br /> trẻ em đặc biệt
          </h2>
          <span class="block mt-6 text-slate-500">
            Thời trang là một hình thức thể hiện bản thân và tự chủ ở một
            thời điểm và địa điểm cụ thể.
          </span>
          <div class="flex space-x-2 sm:space-x-5 mt-6 sm:mt-12">
            <a class="relative h-auto inline-flex items-center justify-center rounded-full transition-colors text-sm sm:text-base font-medium py-3 px-4 sm:py-3.5 sm:px-6  ttnc-ButtonPrimary disabled:bg-opacity-90 bg-slate-900 dark:bg-slate-100 hover:bg-slate-800 text-slate-50 dark:text-slate-800 shadow-xl dark:bg-slate-200 dark:text-slate-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-6000 dark:focus:ring-offset-0 "
              href="/search">
              Xem thêm
            </a>
          </div>
        </div>
        <div class="relative block lg:absolute lg:left-0 lg:bottom-0 mt-10 lg:mt-0 max-w-xl lg:max-w-[calc(55%-40px)]">
          <img alt="" src="../../../assets/images/promo2.webp" />
        </div>
      </div>
    </div>
  </div>
</div>
