<div class="flex items-center gap-2">
  <ul class="inline-flex -space-x-px text-sm">
    <li (click)="onPre()">
      <span [ngClass]="{'!cursor-default opacity-50': pageActive === pages[0] }"
        class="cursor-pointer flex items-center justify-center px-3 h-8 ms-0 leading-tight text-slate-800 bg-transparent border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
        Previous
      </span>
    </li>
    <li *ngFor="let page of pages" [ngClass]="{'bg-[#F27221] !text-white': pageActive === page }"
      (click)="changePage.emit(page)" class="cursor-pointer text-slate-800">
      <span
        class="flex items-center justify-center px-3 h-8 leading-tight bg-transparent border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
        {{ page }}
      </span>
    </li>
    <li class="cursor-pointer" (click)="onNext()">
      <span [ngClass]="{'!cursor-default opacity-50': pageActive === pages[currentPage-1] }"
        class="cursor-pointer flex items-center justify-center px-3 h-8 leading-tight text-slate-800 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
        Next
      </span>
    </li>
  </ul>

  <div>
    <select
      class="bg-gray-50 border border-gray-300 text-slate-800 text-sm rounded-lg block w-full px-3 h-8 outline-none"
      [(ngModel)]="limit" (ngModelChange)="onLimitChange()">
      <option value="5">Limit 5</option>
      <option value="10">Limit 10</option>
      <option value="15">Limit 15</option>
      <option value="20">Limit 20</option>
    </select>
  </div>
</div>
