<div class="lg:w-64 lg:px-4 pl-4 lg:min-w-[256px] duration-500">
  <div class="h-full w-8 lg:w-full">
    <a class="block lg:px-8 lg:py-6 my-6 text-sm text-slate-700" href="/admin/products">
      <img src="../../../assets/images/logo140.svg" class="hidden lg:block" />
      <img src="../../../assets/images/logo_icon.png" class="lg:hidden inline-block" />
    </a>
    <hr class="h-px border-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />
    <div class="mt-4">
      <ul class="flex flex-col">
        <li>
          <a class="text-sm flex items-center lg:px-4 py-2.5 rounded-lg" href="#">
            <div class="lg:mr-2 flex h-8 w-8 items-center justify-center rounded-lg">
              <i class="fa-solid fa-chart-simple"></i>
            </div>
            <span class="ml-1 opacity-100 hidden lg:block">
              Dashboard
            </span>
          </a>
        <li>
          <a class="text-sm flex items-center lg:px-4 py-2.5 rounded-lg" href="#">
            <div class="lg:mr-2 flex h-8 w-8 items-center justify-center rounded-lg">
              <i class="fa-solid fa-list"></i>
            </div>
            <span class="ml-1 opacity-100 hidden lg:block">
              Category
            </span>
          </a>
        <li>
          <a class="text-sm flex items-center lg:px-4 py-2.5 rounded-lg lg:bg-white lg:shadow-xl" href="#">
            <div
              class="lg:mr-2 flex h-8 w-8 items-center justify-center rounded-lg lg:bg-transparent lg:shadow-none bg-white shadow-lg">
              <i class="fa-solid fa-boxes-stacked"></i>
            </div>
            <span class="ml-1 opacity-100 hidden lg:block">
              Products
            </span>
          </a>
        </li>
        <li>
          <a class="text-sm flex items-center lg:px-4 py-2.5 rounded-lg" href="#">
            <div class="lg:mr-2 flex h-8 w-8 items-center justify-center rounded-lg">
              <i class="fa-solid fa-user"></i>
            </div>
            <span class="ml-1 opacity-100 hidden lg:block">
              Users
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
